<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}SnowTricks{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% block stylesheets %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	{% endblock %}
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
		 	<div class="navbar-header">
		    	<a class="navbar-brand" href="{{ path('snow_tricks_homepage') }}">SnowTricks</a>
		 	</div>
			<ul class="nav navbar-nav">
		      	<li class="active"><a href="{{ path('snow_tricks_homepage') }}">Home</a></li>
		      	<li class="dropdown">
		        	<a class="dropdown-toggle" data-toggle="dropdown" href="#">Tricks
		        	<span class="caret"></span></a>
		        	<ul class="dropdown-menu">
		          		<li><a href="#">Mute</a></li>
		         		<li><a href="#">Sad</a></li>
		          		<li><a href="#">Indy</a></li>
		        	</ul>
		      	</li>
		      	<li><a href="{{ path('snow_tricks_add') }}">Add Trick</a></li>
		  	</ul>
		  	<ul class="nav navbar-nav navbar-right">
		    	<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		      	<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			</ul>
		</div>
	</nav> 
	  
	<div class="container" style="margin-top:50px">
		{% block snowtricks_body %}
		{% endblock %}
	</div>

	{% block javascripts %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{% endblock %}
</body>
</html>