{# {% extends 'form_div_layout.html.twig' %} #}

{% block file_widget %}
    {% spaceless %}

    <div class="row">
        <div class="col-xs-12 col-sm-10">
            {{ block('form_widget') }}
        </div>
        {% if image_url is not null %}
            <div class="hidden-xs col-sm-2">
                <div class="thumbnail">
                    <img src="{{ asset(image_url) }}" style="width:100%">
                </div>
            </div> 
        {% endif %}
    </div>

    {% endspaceless %}
{% endblock %}