<div id="dialog">
	<form method="post">
	  	<input type="hidden" name="token" value="{{ csrf_token('delete-item') }}" />
	</form>
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This trick will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>	