{% extends "layout.html.twig" %}

{% block title %}
	Update {{ trick.name }} - {{ parent() }}
{% endblock %}

{% block body %}
	<h1>Update {{ trick.name }}</h1>

	{{ include("Trick/form.html.twig") }}
{% endblock %}