<h3>Hi {{ username }} !</h3> 

<p>You have asked to reset your password.</p>

<p>Click on the URL below and enter a new password.<br>
Go to: <a href="{{ url('reset_password', {'token': token}) }}">Reset Password - SnowTricks</a></p>

<p>Thanks !</p>